.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .header h1 {
    color: #2B3B5A;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
  }
  
  .upgrade-button {
    background-color: white;
    color: #4169E1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    
  }
  
  .profile-icons i {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .profile-icons a {
    text-decoration: none;
    color: #4169E1;
  }